*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

body{
  background: linear-gradient(135deg, #06193d, #2a5298);
  height: 100vh;
  margin: 0;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #06193d;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

}

.logo{
  height: 40px;
  width: auto;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
  
}
.nav-links li { 
  display: inline;
}
/* O Nav-links com o "a" na frente, engloba todos os links dentro que estão dentro de um "li" da classe "nav-links" */
.nav-links a { 

  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.nav-links a:hover {
  background: rgba(31, 52, 245, 0.514); 
  color: #fdfdfd; 
}

.botao {
  background-color: #385cff;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.botao:hover {
  background-color: #2a5298;
}


.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.texto-logo {
  font-size: 20px;
  font-weight: bold;
  color: white;

}

.logofundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/SharkFlowLogo.png) ;
  background-size: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  pointer-events: none;
}

.tabela {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #1151ff;
  min-height: 150px;
}

.tabela th {
  background-color: #1978f5;
  color: white;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.tabela td {
  border: 1px solid #dbdde2;
  padding: 10px;
  text-align: center;
  background-color: #144bff;
  color: white;
}

main {
  padding-top: 120px
}

.tabela tbody tr:nth-child(even) {
  background-color: #e9e9e9; 
}

.tabela tbody tr:hover {
  background-color: #d3d3d3; 

}

.tabela tbody:empty {
  background-color: #e0e0e0;
}
tr:hover {background-color: #06193d;}


.btn_tabela {
  display: block;
  margin: 0 auto;
  background-color: #385cff;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  z-index: 2;
}

.btn_tabela:hover {
  background-color: #2a5298;
}